body * {
    /** 새로 추가된 색상(!important는 element-plus component에도 적용하기 위해서) */
    --cp-color-red: #F55555 !important;
    --cp-color-red-light: #F5555599 !important; // 99는 opacity: 0.5
    --cp-color-pink: #FF9F9F !important;
    --cp-color-pink-light: #FF9F9F99 !important;
    --cp-color-old-lace: #FEFBF7 !important;
    --cp-color-chocolate: #574C4A !important;
    --cp-color-light-green: #CCE9C2 !important;

    --cp-color-white: #FFFFFF !important;
    --cp-color-grey-100: #F5F5F5 !important;
    --cp-color-grey-300: #D9D9D9 !important;
    --cp-color-grey-500: #A2A2A2 !important;
    --cp-color-grey-700: #555454 !important;
    --cp-color-grey-900: #383636 !important;
    --cp-color-black: #1B1717 !important;
}