// TODO: 20230108-심재형: 폰트도 리스트화..
.cp-text-sm {
    font-size: 12px;
    font-weight: 400;
}
.cp-text-sm-p {
    font-size: 12px;
    font-weight: 600;
}

.cp-text-md {
    font-size: 16px;
    font-weight: 400;
}

.cp-text-md-p {
    font-size: 16px;
    font-weight: 600;
}

.cp-text-lg {
    font-size: 24px;
    font-weight: 400;
}

.cp-text-lg-p {
    font-size: 24px;
    font-weight: 600;
}

.cp-text-xl-p {
    font-size: 32px;
    font-weight: 700;
}

.cp-text-title {
    font-size: 40px;
    font-weight: 700;
}